node-red-data/flows.json
[
    {
        "id": "d8c70b90943cdde7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "07b01daf71d5ed97",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "67ff7c1a.40a404",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "b4ed1374180726ac",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20ba8d3784eec1de",
        "type": "tab",
        "label": "Dishwasher Detect",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "211043a199735b64",
        "type": "tab",
        "label": "WashingMachine Detect",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a3f9bd2c5442e36",
        "type": "tab",
        "label": "OPCUA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e834d02a.e6d5e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "21761c9d13898a84",
        "type": "group",
        "z": "d8c70b90943cdde7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9adced639f0ea7bd",
            "c53fa91d6f82f636",
            "724d737ca36ba2e5",
            "ec149e21948fae7d",
            "d9892c8975a3e8d3",
            "68b68bced7cc8304",
            "da7a9354add93740",
            "ef1bb40390fafd8f",
            "38793b6137dc44ac",
            "64c7406f7c381d86",
            "58ddcc8a4632ea52",
            "9f4deb437287d87b",
            "881a4f3422de6936",
            "3796a2eba011b19d"
        ],
        "x": 14,
        "y": 1919,
        "w": 1592,
        "h": 282
    },
    {
        "id": "938231793eeba4dc",
        "type": "group",
        "z": "d8c70b90943cdde7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "936076a8a14af016",
            "c06ac3715ddc0c9e",
            "744f53d3243e0f41",
            "b63057a5e3c2a188",
            "e7c1a8b1fc2d7732",
            "3e082a6ba71ebae1",
            "4be6f4f43a3298cd",
            "e77d6679d23ef72a",
            "fabd6b23ee93bb9e",
            "f660b9f94d7a4f69",
            "5985358d92fca340",
            "ee297c682a53e8ee",
            "219e6ba09779e85b",
            "2fb6186b0485ae5a",
            "c5f3033b0df60257"
        ],
        "x": 34,
        "y": 1419,
        "w": 1982,
        "h": 362
    },
    {
        "id": "57eccb77ed7737bd",
        "type": "group",
        "z": "d8c70b90943cdde7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ae1164d0509315c6",
            "8fac7fbd2c5b6fdb",
            "b0cec899a7bf2c1e",
            "4f87b60a104d7638",
            "0c335c8bc3fa2145",
            "965c1d410df6d8d8"
        ],
        "x": 74,
        "y": 2239,
        "w": 1102,
        "h": 182
    },
    {
        "id": "0542ed503c2cc1fc",
        "type": "group",
        "z": "d8c70b90943cdde7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0de81d65621ed6be",
            "19bd61e5973a0861",
            "f7576ee6ee2d6797",
            "03c0ed0cd9a4ab09",
            "98093ac86097ef7c",
            "545282a63163c0b4",
            "8397d3d07549bfea"
        ],
        "x": 64,
        "y": 2459,
        "w": 1142,
        "h": 202
    },
    {
        "id": "25026939e04bc7ca",
        "type": "group",
        "z": "d8c70b90943cdde7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e5c1b18ecd0694aa",
            "7fbee58fb9c1dd50",
            "32fa0d80307e9feb",
            "244a7ca5ea56e388",
            "eea1cbdea5d07969",
            "2cf0eed32a606642",
            "f6c10594c84e14ce",
            "84726b08aa95054e",
            "7eda498a53bce9e6"
        ],
        "x": 64,
        "y": 2679,
        "w": 1072,
        "h": 229.5
    },
    {
        "id": "9a5f8a8d77b8a39d",
        "type": "group",
        "z": "d8c70b90943cdde7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "49a64bba56b20e4a",
            "07fbe4bd5430c716",
            "a1523e59404fa185",
            "2e8b383a7674c336",
            "6290526e5c53b35c",
            "6ad10158ea761cc5"
        ],
        "x": 64,
        "y": 3059,
        "w": 1072,
        "h": 229.5
    },
    {
        "id": "9aa10468b2faa3bf",
        "type": "junction",
        "z": "d8c70b90943cdde7",
        "x": 700,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "344341727bbdaf64",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.129",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0d831bd9ba588536",
        "type": "mqtt-sparkplug-broker",
        "name": "Local Host",
        "deviceGroup": "My Devices",
        "eonName": "Node-Red",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "enableStoreForward": false,
        "compressAlgorithm": "",
        "primaryScada": "MY SCADA"
    },
    {
        "id": "ae880fe3ff61787a",
        "type": "mqtt-sparkplug-broker",
        "name": "",
        "deviceGroup": "AucklandOffice",
        "eonName": "MHMautomation",
        "broker": "ssl://fc6be35db4e247aaafe1ef72a0618f32.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "2b359b5c16474b35",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "enableStoreForward": true,
        "compressAlgorithm": "",
        "primaryScada": ""
    },
    {
        "id": "2b359b5c16474b35",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "14244b190bcbae72",
        "type": "mqtt-sparkplug-broker",
        "name": "",
        "deviceGroup": "ges",
        "eonName": "test",
        "broker": "192.168.1.129",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "enableStoreForward": false,
        "compressAlgorithm": "",
        "primaryScada": ""
    },
    {
        "id": "ec400768.e29c68",
        "type": "mqtt-broker",
        "name": "epic-dev",
        "broker": "epic-dev",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6780b84f.200d88",
        "type": "protobuf-file",
        "protopath": "/data/sparkplugb/sparkplug_b.proto",
        "watchFile": false
    },
    {
        "id": "dbcac10418eebc1f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ssl://fc6be35db4e247aaafe1ef72a0618f32.s1.eu.hivemq.cloud",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9d9ad3f4.49ce7",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "nodered",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "b144405e.a9f63",
        "type": "mqtt-broker",
        "name": "Mayfield MQTT",
        "broker": "10.1.1.34",
        "port": "1883",
        "clientid": "nodered",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1bb2a95a371336d8",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "dashboard/garagedoorpress",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 20,
        "wires": [
            [
                "22dfbcb4579c0e29"
            ]
        ]
    },
    {
        "id": "22dfbcb4579c0e29",
        "type": "trigger",
        "z": "d8c70b90943cdde7",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 60,
        "wires": [
            [
                "5790dae05e6abc1e"
            ]
        ]
    },
    {
        "id": "5790dae05e6abc1e",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/button/garagedoor/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "dc765677bf53c099",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "dashboard/alllightsonoff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 1040,
        "wires": [
            [
                "6d74d34d90d5bd2f"
            ]
        ]
    },
    {
        "id": "e129501107cac6cd",
        "type": "inject",
        "z": "d8c70b90943cdde7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 360,
        "y": 800,
        "wires": [
            [
                "6d74d34d90d5bd2f"
            ]
        ]
    },
    {
        "id": "2ad54b11667121b3",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/kitchen/led/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 860,
        "y": 520,
        "wires": []
    },
    {
        "id": "3b9881e09bd0e426",
        "type": "inject",
        "z": "d8c70b90943cdde7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "6d74d34d90d5bd2f"
            ]
        ]
    },
    {
        "id": "6de4063d4ed79686",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/garage/benchlight/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "856d3650013b1d7f",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/kitchenlounge/power1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 890,
        "y": 620,
        "wires": []
    },
    {
        "id": "3c82896abc6d7a88",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/master/lavalamp/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "c318f243e03e8808",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/underdeck/led/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 890,
        "y": 780,
        "wires": []
    },
    {
        "id": "baae3ee01614f22b",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/downstairs/tenantdoor/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 890,
        "y": 820,
        "wires": []
    },
    {
        "id": "9e43ed7417a8b55c",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/fanUFH/ensuite/power1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 860,
        "y": 860,
        "wires": []
    },
    {
        "id": "79538c2bb940de7e",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "stat/jamesscott/light/downstairs/tenantdoor/POWER",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "9c2716808432f536"
            ]
        ]
    },
    {
        "id": "45c7ed33700d5027",
        "type": "trigger",
        "z": "d8c70b90943cdde7",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 340,
        "wires": [
            [
                "c3f06a91acd9f4d2"
            ]
        ]
    },
    {
        "id": "c3f06a91acd9f4d2",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/downstairs/tenantdoor/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "9c2716808432f536",
        "type": "switch",
        "z": "d8c70b90943cdde7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "45c7ed33700d5027"
            ],
            []
        ]
    },
    {
        "id": "82d1115277150c67",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/underdeck/led/power1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 910,
        "y": 960,
        "wires": []
    },
    {
        "id": "2cb17bb9c2ecef92",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/underdeck/led/power2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 910,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7cecbc5a6b450fa0",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/fanUFH/ensuite/power2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 900,
        "y": 920,
        "wires": []
    },
    {
        "id": "75b6d33eb591d598",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/kitchenlounge/power2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 910,
        "y": 660,
        "wires": []
    },
    {
        "id": "6d74d34d90d5bd2f",
        "type": "link out",
        "z": "d8c70b90943cdde7",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "733e7bb7d3b6ca06"
        ],
        "x": 315,
        "y": 540,
        "wires": []
    },
    {
        "id": "733e7bb7d3b6ca06",
        "type": "link in",
        "z": "d8c70b90943cdde7",
        "name": "link in 1",
        "links": [
            "6d74d34d90d5bd2f"
        ],
        "x": 555,
        "y": 800,
        "wires": [
            [
                "2cb17bb9c2ecef92",
                "82d1115277150c67",
                "7cecbc5a6b450fa0",
                "9e43ed7417a8b55c",
                "baae3ee01614f22b",
                "c318f243e03e8808",
                "3c82896abc6d7a88",
                "75b6d33eb591d598",
                "856d3650013b1d7f",
                "6de4063d4ed79686",
                "2ad54b11667121b3",
                "ebb1f9688592c727",
                "cd4709615d2dc4ba",
                "0d967c6bd60a19dc",
                "1669033f1410a2bc",
                "f8dbfd1ed8b907eb"
            ]
        ]
    },
    {
        "id": "ebb1f9688592c727",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/kitchenled/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 860,
        "y": 700,
        "wires": []
    },
    {
        "id": "cd4709615d2dc4ba",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "jamesscott/light/master/lavalamp/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 940,
        "y": 1100,
        "wires": []
    },
    {
        "id": "0d967c6bd60a19dc",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/garage/benchlight/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 960,
        "y": 1180,
        "wires": []
    },
    {
        "id": "1669033f1410a2bc",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/garagelight/power1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 860,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f8dbfd1ed8b907eb",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/garagelight/power2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 860,
        "y": 1320,
        "wires": []
    },
    {
        "id": "70b6290f3ebec99d",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "dashboard/alllightsoff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 1120,
        "wires": [
            [
                "6d74d34d90d5bd2f"
            ]
        ]
    },
    {
        "id": "6a115d4fbf8e485b",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "tele/tasmota_blerry/Masterroom_ATC",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "0f1343ea540d0eda",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "tele/tasmota_ble/IZZYroom_ATC",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "52e4167a9560bbbc",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "jamesscott/switch/garagedoor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 440,
        "wires": [
            [
                "d45b8d2c36809956"
            ]
        ]
    },
    {
        "id": "d45b8d2c36809956",
        "type": "switch",
        "z": "d8c70b90943cdde7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "4e55d10b3be067b0",
                "b1222a87a873a1d9"
            ],
            [
                "b1222a87a873a1d9",
                "4e55d10b3be067b0"
            ]
        ]
    },
    {
        "id": "4e55d10b3be067b0",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/garagelight/power1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1070,
        "y": 400,
        "wires": []
    },
    {
        "id": "b1222a87a873a1d9",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/light/garagelight/power2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "9adced639f0ea7bd",
        "type": "ping",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "protocol": "IPv4",
        "mode": "timed",
        "name": "",
        "host": "192.168.1.10",
        "timer": "2",
        "inputs": 0,
        "x": 170,
        "y": 2080,
        "wires": [
            [
                "c53fa91d6f82f636"
            ]
        ]
    },
    {
        "id": "c53fa91d6f82f636",
        "type": "rbe",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 470,
        "y": 2100,
        "wires": [
            [
                "724d737ca36ba2e5"
            ]
        ]
    },
    {
        "id": "724d737ca36ba2e5",
        "type": "switch",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 2160,
        "wires": [
            [],
            [
                "68b68bced7cc8304"
            ]
        ]
    },
    {
        "id": "ec149e21948fae7d",
        "type": "trigger",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1100,
        "y": 2000,
        "wires": [
            [
                "d9892c8975a3e8d3"
            ]
        ]
    },
    {
        "id": "d9892c8975a3e8d3",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "",
        "topic": "cmnd/jamesscott/button/garagedoor/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1410,
        "y": 2060,
        "wires": []
    },
    {
        "id": "68b68bced7cc8304",
        "type": "time-switch",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "",
        "lat": "-36.848461",
        "lon": "174.763336",
        "startTime": "16:00",
        "endTime": "18:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 680,
        "y": 2160,
        "wires": [
            [
                "9f4deb437287d87b"
            ],
            []
        ]
    },
    {
        "id": "da7a9354add93740",
        "type": "trigger",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "Block until next day",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 860,
        "y": 1980,
        "wires": [
            [
                "ec149e21948fae7d"
            ]
        ]
    },
    {
        "id": "ef1bb40390fafd8f",
        "type": "ping",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "protocol": "IPv4",
        "mode": "timed",
        "name": "",
        "host": "192.168.1.11",
        "timer": "2",
        "inputs": 0,
        "x": 150,
        "y": 2140,
        "wires": [
            [
                "c53fa91d6f82f636"
            ]
        ]
    },
    {
        "id": "38793b6137dc44ac",
        "type": "comment",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "Auto Garage Open ",
        "info": "",
        "x": 370,
        "y": 1960,
        "wires": []
    },
    {
        "id": "936076a8a14af016",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "topic": "tele/tasmota_blerry/Masterroom_ATC",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1540,
        "wires": [
            [
                "744f53d3243e0f41"
            ]
        ]
    },
    {
        "id": "c06ac3715ddc0c9e",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "topic": "tele/tasmota_blerry/Ensuite_ATC",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1600,
        "wires": [
            [
                "b63057a5e3c2a188"
            ]
        ]
    },
    {
        "id": "744f53d3243e0f41",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1540,
        "wires": [
            [
                "e7c1a8b1fc2d7732"
            ]
        ]
    },
    {
        "id": "b63057a5e3c2a188",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1600,
        "wires": [
            [
                "e7c1a8b1fc2d7732"
            ]
        ]
    },
    {
        "id": "e7c1a8b1fc2d7732",
        "type": "join",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 1560,
        "wires": [
            [
                "3e082a6ba71ebae1"
            ]
        ]
    },
    {
        "id": "3e082a6ba71ebae1",
        "type": "function",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "func": "msg.topic = \"DifferenceEnsuiteMaster\"\nmsg.payload = msg.payload[\"tele/tasmota_blerry/Ensuite_ATC\"] - msg.payload[\"tele/tasmota_blerry/Masterroom_ATC\"]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1560,
        "wires": [
            [
                "f660b9f94d7a4f69",
                "219e6ba09779e85b"
            ]
        ]
    },
    {
        "id": "4be6f4f43a3298cd",
        "type": "trigger",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1360,
        "y": 1560,
        "wires": [
            [
                "e77d6679d23ef72a"
            ]
        ]
    },
    {
        "id": "e77d6679d23ef72a",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "topic": "cmnd/jamesscott/fanUFH/ensuite/power1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1670,
        "y": 1560,
        "wires": []
    },
    {
        "id": "fabd6b23ee93bb9e",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "topic": "tele/tasmota_blerry/MasterEnsuiteDifference",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1820,
        "y": 1740,
        "wires": []
    },
    {
        "id": "f660b9f94d7a4f69",
        "type": "switch",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 1500,
        "wires": [
            [
                "5985358d92fca340"
            ]
        ]
    },
    {
        "id": "5985358d92fca340",
        "type": "trigger",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "8",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1330,
        "y": 1480,
        "wires": [
            [
                "4be6f4f43a3298cd"
            ]
        ]
    },
    {
        "id": "ee297c682a53e8ee",
        "type": "comment",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "Ensuite Autofan",
        "info": "",
        "x": 140,
        "y": 1460,
        "wires": []
    },
    {
        "id": "ae1164d0509315c6",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "g": "57eccb77ed7737bd",
        "name": "",
        "topic": "zigbee2mqtt/kitchenmotionsensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 2380,
        "wires": [
            [
                "8fac7fbd2c5b6fdb"
            ]
        ]
    },
    {
        "id": "8fac7fbd2c5b6fdb",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "g": "57eccb77ed7737bd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.occupancy",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2320,
        "wires": [
            [
                "0c335c8bc3fa2145"
            ]
        ]
    },
    {
        "id": "b0cec899a7bf2c1e",
        "type": "trigger",
        "z": "d8c70b90943cdde7",
        "g": "57eccb77ed7737bd",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 2360,
        "wires": [
            [
                "4f87b60a104d7638"
            ]
        ]
    },
    {
        "id": "4f87b60a104d7638",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "g": "57eccb77ed7737bd",
        "name": "",
        "topic": "cmnd/jamesscott/light/kitchenled/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1000,
        "y": 2360,
        "wires": []
    },
    {
        "id": "0c335c8bc3fa2145",
        "type": "switch",
        "z": "d8c70b90943cdde7",
        "g": "57eccb77ed7737bd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 2280,
        "wires": [
            [
                "b0cec899a7bf2c1e"
            ],
            []
        ]
    },
    {
        "id": "965c1d410df6d8d8",
        "type": "comment",
        "z": "d8c70b90943cdde7",
        "g": "57eccb77ed7737bd",
        "name": "Motion Led",
        "info": "",
        "x": 180,
        "y": 2280,
        "wires": []
    },
    {
        "id": "64c7406f7c381d86",
        "type": "inject",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 2020,
        "wires": [
            [
                "c53fa91d6f82f636"
            ]
        ]
    },
    {
        "id": "58ddcc8a4632ea52",
        "type": "inject",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 1980,
        "wires": [
            [
                "c53fa91d6f82f636"
            ]
        ]
    },
    {
        "id": "6dccf43ec2c1de28",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "dashboard/watersolenoidrequest",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "0ed5d5b9ba5eab04"
            ]
        ]
    },
    {
        "id": "0ed5d5b9ba5eab04",
        "type": "trigger",
        "z": "d8c70b90943cdde7",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "2e9df0c1a8d3194a"
            ]
        ]
    },
    {
        "id": "2e9df0c1a8d3194a",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "cmnd/jamesscott/water/downstairs/solenoidrequest//power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "57f949b041b4f6f1",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "stat/jamesscott/water/downstairs/solenoidrequest/POWER",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 300,
        "wires": [
            [
                "37ada29560974aa2"
            ]
        ]
    },
    {
        "id": "37ada29560974aa2",
        "type": "switch",
        "z": "d8c70b90943cdde7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "3030fca826f88747"
            ],
            []
        ]
    },
    {
        "id": "3030fca826f88747",
        "type": "trigger",
        "z": "d8c70b90943cdde7",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "6",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "2e9df0c1a8d3194a"
            ]
        ]
    },
    {
        "id": "0f26f616723c36c8",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "zigbee2mqtt/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bd37efebd0468e30",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "name": "",
        "topic": "zigbee2mqtt/kitchenpushbutton",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "6fb637e2e263950b",
                "d50c9af28b3cc104"
            ]
        ]
    },
    {
        "id": "6fb637e2e263950b",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.action",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "be2d373f15445f42"
            ]
        ]
    },
    {
        "id": "be2d373f15445f42",
        "type": "switch",
        "z": "d8c70b90943cdde7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "aa9f304a54340bfd"
            ],
            []
        ]
    },
    {
        "id": "aa9f304a54340bfd",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "22dfbcb4579c0e29",
                "d778752d27eac635"
            ]
        ]
    },
    {
        "id": "d50c9af28b3cc104",
        "type": "debug",
        "z": "d8c70b90943cdde7",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "d778752d27eac635",
        "type": "debug",
        "z": "d8c70b90943cdde7",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "0de81d65621ed6be",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "g": "0542ed503c2cc1fc",
        "name": "",
        "topic": "zigbee2mqtt/panterydoor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 2620,
        "wires": [
            [
                "19bd61e5973a0861"
            ]
        ]
    },
    {
        "id": "19bd61e5973a0861",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "g": "0542ed503c2cc1fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.contact",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2520,
        "wires": [
            [
                "f7576ee6ee2d6797"
            ]
        ]
    },
    {
        "id": "f7576ee6ee2d6797",
        "type": "switch",
        "z": "d8c70b90943cdde7",
        "g": "0542ed503c2cc1fc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 2520,
        "wires": [
            [
                "545282a63163c0b4"
            ],
            [
                "98093ac86097ef7c"
            ]
        ]
    },
    {
        "id": "03c0ed0cd9a4ab09",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "g": "0542ed503c2cc1fc",
        "name": "",
        "topic": "zigbee2mqtt/microwave/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1060,
        "y": 2500,
        "wires": []
    },
    {
        "id": "98093ac86097ef7c",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "g": "0542ed503c2cc1fc",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"ON\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 2540,
        "wires": [
            [
                "03c0ed0cd9a4ab09"
            ]
        ]
    },
    {
        "id": "545282a63163c0b4",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "g": "0542ed503c2cc1fc",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"OFF\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 2500,
        "wires": [
            [
                "03c0ed0cd9a4ab09"
            ]
        ]
    },
    {
        "id": "8397d3d07549bfea",
        "type": "comment",
        "z": "d8c70b90943cdde7",
        "g": "0542ed503c2cc1fc",
        "name": "Microwave",
        "info": "",
        "x": 150,
        "y": 2520,
        "wires": []
    },
    {
        "id": "ce20167a8ba29209",
        "type": "bigtimer",
        "z": "d8c70b90943cdde7",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Big Timer",
        "comment": "",
        "lat": 0,
        "lon": 0,
        "starttime": 5001,
        "endtime": 1425,
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 150,
        "y": 780,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e5c1b18ecd0694aa",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "g": "25026939e04bc7ca",
        "name": "",
        "topic": "dashboard/autoalllightsoff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 2780,
        "wires": [
            [
                "7fbee58fb9c1dd50"
            ]
        ]
    },
    {
        "id": "9f4deb437287d87b",
        "type": "traffic",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "",
        "property_allow": "payload",
        "filter_allow": "auto",
        "ignore_case_allow": true,
        "negate_allow": false,
        "send_allow": false,
        "property_stop": "payload",
        "filter_stop": "disable",
        "ignore_case_stop": true,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 750,
        "y": 2060,
        "wires": [
            [
                "da7a9354add93740",
                "3796a2eba011b19d"
            ]
        ]
    },
    {
        "id": "881a4f3422de6936",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "",
        "topic": "dashboard/autogarageopen",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 2020,
        "wires": [
            [
                "9f4deb437287d87b"
            ]
        ]
    },
    {
        "id": "7fbee58fb9c1dd50",
        "type": "traffic",
        "z": "d8c70b90943cdde7",
        "g": "25026939e04bc7ca",
        "name": "",
        "property_allow": "payload",
        "filter_allow": "auto",
        "ignore_case_allow": true,
        "negate_allow": false,
        "send_allow": false,
        "property_stop": "payload",
        "filter_stop": "disable",
        "ignore_case_stop": true,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 490,
        "y": 2860,
        "wires": [
            [
                "eea1cbdea5d07969"
            ]
        ]
    },
    {
        "id": "32fa0d80307e9feb",
        "type": "bigtimer",
        "z": "d8c70b90943cdde7",
        "g": "25026939e04bc7ca",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Big Timer",
        "comment": "",
        "lat": "-36.848461",
        "lon": "174.763336",
        "starttime": "5003",
        "endtime": "10001",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "0",
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "1",
        "outtext2": "0",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 150,
        "y": 2860,
        "wires": [
            [
                "84726b08aa95054e"
            ],
            [
                "3dfd6d3795757aed"
            ],
            []
        ]
    },
    {
        "id": "3796a2eba011b19d",
        "type": "debug",
        "z": "d8c70b90943cdde7",
        "g": "21761c9d13898a84",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 2120,
        "wires": []
    },
    {
        "id": "244a7ca5ea56e388",
        "type": "debug",
        "z": "d8c70b90943cdde7",
        "g": "25026939e04bc7ca",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 2840,
        "wires": []
    },
    {
        "id": "eea1cbdea5d07969",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "g": "25026939e04bc7ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 2840,
        "wires": [
            [
                "244a7ca5ea56e388",
                "2cf0eed32a606642"
            ]
        ]
    },
    {
        "id": "2cf0eed32a606642",
        "type": "link out",
        "z": "d8c70b90943cdde7",
        "g": "25026939e04bc7ca",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "6a52e641be7663d0"
        ],
        "x": 925,
        "y": 2740,
        "wires": []
    },
    {
        "id": "6a52e641be7663d0",
        "type": "link in",
        "z": "d8c70b90943cdde7",
        "name": "link in 2",
        "links": [
            "2cf0eed32a606642",
            "30a8a1f6e46763f7"
        ],
        "x": 125,
        "y": 540,
        "wires": [
            [
                "6d74d34d90d5bd2f"
            ]
        ]
    },
    {
        "id": "f6c10594c84e14ce",
        "type": "comment",
        "z": "d8c70b90943cdde7",
        "g": "25026939e04bc7ca",
        "name": "Auto All Lights Off When Sun Rise",
        "info": "",
        "x": 350,
        "y": 2720,
        "wires": []
    },
    {
        "id": "49a64bba56b20e4a",
        "type": "mqtt in",
        "z": "d8c70b90943cdde7",
        "g": "9a5f8a8d77b8a39d",
        "name": "",
        "topic": "dashboard/autooutsidelighting",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 3160,
        "wires": [
            [
                "07fbe4bd5430c716",
                "6ad10158ea761cc5"
            ]
        ]
    },
    {
        "id": "07fbe4bd5430c716",
        "type": "traffic",
        "z": "d8c70b90943cdde7",
        "g": "9a5f8a8d77b8a39d",
        "name": "",
        "property_allow": "payload",
        "filter_allow": "auto",
        "ignore_case_allow": true,
        "negate_allow": false,
        "send_allow": false,
        "property_stop": "payload",
        "filter_stop": "disable",
        "ignore_case_stop": true,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 490,
        "y": 3240,
        "wires": [
            [
                "6290526e5c53b35c"
            ]
        ]
    },
    {
        "id": "a1523e59404fa185",
        "type": "bigtimer",
        "z": "d8c70b90943cdde7",
        "g": "9a5f8a8d77b8a39d",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Big Timer",
        "comment": "",
        "lat": "-36.848461",
        "lon": "174.763336",
        "starttime": "5004",
        "endtime": "5004",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "-40",
        "endoff": "20",
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "1",
        "outtext2": "0",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 150,
        "y": 3240,
        "wires": [
            [
                "07fbe4bd5430c716"
            ],
            [],
            []
        ]
    },
    {
        "id": "2e8b383a7674c336",
        "type": "comment",
        "z": "d8c70b90943cdde7",
        "g": "9a5f8a8d77b8a39d",
        "name": "Auto Outside Light",
        "info": "",
        "x": 290,
        "y": 3100,
        "wires": []
    },
    {
        "id": "6290526e5c53b35c",
        "type": "mqtt out",
        "z": "d8c70b90943cdde7",
        "g": "9a5f8a8d77b8a39d",
        "name": "",
        "topic": "cmnd/jamesscott/light/underdeck/led/power1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 940,
        "y": 3240,
        "wires": []
    },
    {
        "id": "84726b08aa95054e",
        "type": "switch",
        "z": "d8c70b90943cdde7",
        "g": "25026939e04bc7ca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 2860,
        "wires": [
            [
                "7fbee58fb9c1dd50"
            ],
            []
        ]
    },
    {
        "id": "6ad10158ea761cc5",
        "type": "debug",
        "z": "d8c70b90943cdde7",
        "g": "9a5f8a8d77b8a39d",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 3120,
        "wires": []
    },
    {
        "id": "219e6ba09779e85b",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Difference",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1640,
        "wires": [
            [
                "db8f1f4133ca661d"
            ]
        ]
    },
    {
        "id": "2fb6186b0485ae5a",
        "type": "inject",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 570,
        "y": 1680,
        "wires": [
            [
                "219e6ba09779e85b"
            ]
        ]
    },
    {
        "id": "db8f1f4133ca661d",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "name": "Change Key Dynamically",
        "rules": [
            {
                "t": "set",
                "p": "tag",
                "pt": "msg",
                "to": "{topic:payload}",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "lastValue",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1740,
        "wires": [
            [
                "ed615322f8fa5e9c"
            ]
        ]
    },
    {
        "id": "ed615322f8fa5e9c",
        "type": "change",
        "z": "d8c70b90943cdde7",
        "name": "Format",
        "rules": [
            {
                "t": "move",
                "p": "tag",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "field.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1740,
        "wires": [
            [
                "c5f3033b0df60257",
                "fabd6b23ee93bb9e"
            ]
        ]
    },
    {
        "id": "c5f3033b0df60257",
        "type": "debug",
        "z": "d8c70b90943cdde7",
        "g": "938231793eeba4dc",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 1680,
        "wires": []
    },
    {
        "id": "3dfd6d3795757aed",
        "type": "debug",
        "z": "d8c70b90943cdde7",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 354.5,
        "y": 2945,
        "wires": []
    },
    {
        "id": "7eda498a53bce9e6",
        "type": "inject",
        "z": "d8c70b90943cdde7",
        "g": "25026939e04bc7ca",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 430,
        "y": 2760,
        "wires": [
            [
                "eea1cbdea5d07969"
            ]
        ]
    },
    {
        "id": "639b4b7aabe1a687",
        "type": "mqtt in",
        "z": "07b01daf71d5ed97",
        "name": "",
        "topic": "stat/jamesscott/lheating/downstairs/heaterleft/POWER",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "14acfc6b2c667a9b"
            ]
        ]
    },
    {
        "id": "14acfc6b2c667a9b",
        "type": "switch",
        "z": "07b01daf71d5ed97",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 60,
        "wires": [
            [
                "a9ad4879523dea76"
            ],
            []
        ]
    },
    {
        "id": "a9ad4879523dea76",
        "type": "trigger",
        "z": "07b01daf71d5ed97",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 750,
        "y": 60,
        "wires": [
            [
                "cac677a85c64f26b"
            ]
        ]
    },
    {
        "id": "cac677a85c64f26b",
        "type": "mqtt out",
        "z": "07b01daf71d5ed97",
        "name": "",
        "topic": "cmnd/jamesscott/lheating/downstairs/heaterleft/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1120,
        "y": 60,
        "wires": []
    },
    {
        "id": "d31dd31574d149d3",
        "type": "mqtt in",
        "z": "07b01daf71d5ed97",
        "name": "",
        "topic": "stat/jamesscott/lheating/downstairs/heaterright/POWER",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "7b04d9e77d38ab19"
            ]
        ]
    },
    {
        "id": "7b04d9e77d38ab19",
        "type": "switch",
        "z": "07b01daf71d5ed97",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "6793d122fc4eae5a"
            ],
            []
        ]
    },
    {
        "id": "6793d122fc4eae5a",
        "type": "trigger",
        "z": "07b01daf71d5ed97",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 770,
        "y": 180,
        "wires": [
            [
                "380fd84aac27cd88"
            ]
        ]
    },
    {
        "id": "380fd84aac27cd88",
        "type": "mqtt out",
        "z": "07b01daf71d5ed97",
        "name": "",
        "topic": "cmnd/jamesscott/lheating/downstairs/heaterright/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1140,
        "y": 180,
        "wires": []
    },
    {
        "id": "a81c4e59.6a453",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "Birth message for this device",
        "func": "var msg={\"topic\":\"myMultiSensor01/DBIRTH\",\n\"payload\":{\n    \"timestamp\": Date.now(),\n    \"metrics\":[{\n        \"name\":\"Temperature01\",\n        \"value\":1337,\n        \"type\":\"float\",\n        \"properties\":{\n            \"engUnit\":{\"value\":\"C\",\"type\":\"string\"},\n            \"engHigh\":{\"value\":100,\"type\":\"double\"},\n            \"engLow\":{\"value\":0,\"type\":\"double\"}\n            }\n        },\n        {\n        \"name\":\"Temperature02\",\n        \"value\":1338,\n        \"type\":\"float\",\n        \"properties\":{\n            \"engUnit\":{\"value\":\"C\",\"type\":\"string\"},\n            \"engHigh\":{\"value\":100,\"type\":\"double\"},\n            \"engLow\":{\"value\":0,\"type\":\"double\"}\n            }\n        },\n        {\n        \"name\":\"Output01\",\n        \"value\":false,\n        \"type\":\"boolean\",\n        }]\n    }\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 200,
        "wires": [
            [
                "3abcfd2d.b8c002",
                "afc60000.92d74"
            ]
        ]
    },
    {
        "id": "4d95b97.6f42b48",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "First scan",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1337",
        "payloadType": "num",
        "x": 620,
        "y": 200,
        "wires": [
            [
                "a81c4e59.6a453"
            ]
        ]
    },
    {
        "id": "3abcfd2d.b8c002",
        "type": "debug",
        "z": "67ff7c1a.40a404",
        "name": "Birth message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 200,
        "wires": []
    },
    {
        "id": "b7f3b713.742968",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "Metric value for measurement 1",
        "func": "var msg={\"payload\":\n{\"timestamp\": Date.now(),\n\"metrics\":[{\n    \"name\":\"Temperature01\",\n    \"value\":msg.payload,\n    \"type\":\"float\"}]},\n\"topic\":\"myMultiSensor01/DDATA\"}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 320,
        "wires": [
            [
                "fa0e50aa.109fd",
                "afc60000.92d74"
            ]
        ]
    },
    {
        "id": "18f8e72c.56de49",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "Value from sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1338",
        "payloadType": "num",
        "x": 610,
        "y": 320,
        "wires": [
            [
                "b7f3b713.742968"
            ]
        ]
    },
    {
        "id": "fa0e50aa.109fd",
        "type": "debug",
        "z": "67ff7c1a.40a404",
        "name": "metric 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "5d3a0180.3c557",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "Metric value for measurement 2",
        "func": "var msg={\"payload\":\n{\"timestamp\": Date.now(),\n\"metrics\":[{\n    \"name\":\"Temperature02\",\n    \"value\":msg.payload,\n    \"type\":\"float\"}]},\n\"topic\":\"myMultiSensor01/DDATA\"}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 930,
        "y": 380,
        "wires": [
            [
                "b3074479.430578",
                "afc60000.92d74"
            ]
        ]
    },
    {
        "id": "d24604eb.11c758",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "Value from sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1338",
        "payloadType": "num",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "5d3a0180.3c557"
            ]
        ]
    },
    {
        "id": "b3074479.430578",
        "type": "debug",
        "z": "67ff7c1a.40a404",
        "name": "metric 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 380,
        "wires": []
    },
    {
        "id": "8e01dfde.f35da",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "Value from sensor (output feedback)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "46e856f8.96bf88"
            ]
        ]
    },
    {
        "id": "46e856f8.96bf88",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "Metric value for output",
        "func": "var msg={\"payload\":\n{\"timestamp\": Date.now(),\n\"metrics\":[{\n    \"name\":\"Output01\",\n    \"value\":msg.payload,\n    \"type\":\"boolean\"}]},\n\"topic\":\"myMultiSensor01/DDATA\"}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 440,
        "wires": [
            [
                "afc60000.92d74"
            ]
        ]
    },
    {
        "id": "9b5408a7.e077c8",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "Output (from ignition)",
        "func": "if (msg.topic==\"myMultiSensor01\"){\n    if (msg.payload.metrics[0].name==\"Output01\"){\n        newMsg={};\n        newMsg.payload=msg.payload.metrics[0].value;\n        return newMsg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1780,
        "y": 280,
        "wires": [
            [
                "398adbd.45a1724"
            ]
        ]
    },
    {
        "id": "398adbd.45a1724",
        "type": "debug",
        "z": "67ff7c1a.40a404",
        "name": "value to sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 280,
        "wires": []
    },
    {
        "id": "36701b5e.437424",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "trigger rebirth",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1337",
        "payloadType": "num",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "a81c4e59.6a453"
            ]
        ]
    },
    {
        "id": "965067a.11efb98",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "DDEATH",
        "func": "let EquipmentName = \"myMultiSensor01\"\n\nreturn { \"topic\" : EquipmentName+\"/DDEATH\",'payload': {\"timestamp\" : Date.now()} };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "afc60000.92d74"
            ]
        ]
    },
    {
        "id": "b911110c.4f163",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "trigger Death",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1337",
        "payloadType": "num",
        "x": 610,
        "y": 100,
        "wires": [
            [
                "965067a.11efb98"
            ]
        ]
    },
    {
        "id": "deb5ccdd.a451a",
        "type": "debug",
        "z": "67ff7c1a.40a404",
        "name": "Sparkplug Diag",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 380,
        "wires": []
    },
    {
        "id": "836db305.a26ba",
        "type": "sparkplug",
        "z": "67ff7c1a.40a404",
        "name": "",
        "broker": "tcp://192.168.1.129",
        "port": "1883",
        "clientid": "NodeREDSimpleEdgeNode",
        "groupid": "Sparkplug Devices",
        "edgenode": "Node-RED Edge Node",
        "version": "spBv1.0",
        "enablecache": "false",
        "publishdeath": "true",
        "user": "gs4162",
        "password": "Stillg02",
        "x": 1480,
        "y": 500,
        "wires": [
            [
                "9b5408a7.e077c8",
                "deb5ccdd.a451a",
                "d4f8fb29.30ee18",
                "7e8c8c04.8b0314"
            ]
        ]
    },
    {
        "id": "d4f8fb29.30ee18",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "external rebirth of all devices from this node",
        "func": "if (msg.topic==\"rebirth\"){\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1850,
        "y": 460,
        "wires": [
            [
                "4d1cdf3e.850b4"
            ]
        ]
    },
    {
        "id": "4d1cdf3e.850b4",
        "type": "link out",
        "z": "67ff7c1a.40a404",
        "name": "",
        "links": [
            "8f8845ad.a6ab38",
            "e31740a6.3a29e"
        ],
        "x": 2095,
        "y": 460,
        "wires": []
    },
    {
        "id": "8f8845ad.a6ab38",
        "type": "link in",
        "z": "67ff7c1a.40a404",
        "name": "",
        "links": [
            "4d1cdf3e.850b4"
        ],
        "x": 755,
        "y": 260,
        "wires": [
            [
                "a81c4e59.6a453"
            ]
        ]
    },
    {
        "id": "90061fa9.fab9",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "Birth message for this device",
        "func": "var msg={\"topic\":\"myMultiSensor02/DBIRTH\",\n\"payload\":{\n    \"timestamp\": Date.now(),\n    \"metrics\":[{\n        \"name\":\"Temperature01\",\n        \"value\":1337,\n        \"type\":\"float\",\n        \"properties\":{\n            \"engUnit\":{\"value\":\"C\",\"type\":\"string\"},\n            \"engHigh\":{\"value\":100,\"type\":\"double\"},\n            \"engLow\":{\"value\":0,\"type\":\"double\"}\n            }\n        },\n        {\n        \"name\":\"Temperature02\",\n        \"value\":1338,\n        \"type\":\"float\",\n        \"properties\":{\n            \"engUnit\":{\"value\":\"C\",\"type\":\"string\"},\n            \"engHigh\":{\"value\":100,\"type\":\"double\"},\n            \"engLow\":{\"value\":0,\"type\":\"double\"}\n            }\n        },\n        {\n        \"name\":\"Output01\",\n        \"value\":false,\n        \"type\":\"boolean\",\n        }]\n    }\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 700,
        "wires": [
            [
                "938bc35d.9c5ff",
                "9fafc8a4.923c08"
            ]
        ]
    },
    {
        "id": "ad1a3789.3c0128",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "First scan",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1337",
        "payloadType": "num",
        "x": 640,
        "y": 700,
        "wires": [
            [
                "90061fa9.fab9"
            ]
        ]
    },
    {
        "id": "938bc35d.9c5ff",
        "type": "debug",
        "z": "67ff7c1a.40a404",
        "name": "Birth message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 700,
        "wires": []
    },
    {
        "id": "dad285c8.ac0a58",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "Metric value for measurement 1",
        "func": "var msg={\"payload\":\n{\"timestamp\": Date.now(),\n\"metrics\":[{\n    \"name\":\"Temperature01\",\n    \"value\":msg.payload,\n    \"type\":\"float\"}]},\n\"topic\":\"myMultiSensor02/DDATA\"}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 950,
        "y": 820,
        "wires": [
            [
                "b94758a0.8dbee8",
                "9fafc8a4.923c08"
            ]
        ]
    },
    {
        "id": "33b62af6.aadbc6",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "Value from sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1338",
        "payloadType": "num",
        "x": 630,
        "y": 820,
        "wires": [
            [
                "dad285c8.ac0a58"
            ]
        ]
    },
    {
        "id": "b94758a0.8dbee8",
        "type": "debug",
        "z": "67ff7c1a.40a404",
        "name": "metric 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 820,
        "wires": []
    },
    {
        "id": "7d2171b.3e6e19",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "Metric value for measurement 2",
        "func": "var msg={\"payload\":\n{\"timestamp\": Date.now(),\n\"metrics\":[{\n    \"name\":\"Temperature02\",\n    \"value\":msg.payload,\n    \"type\":\"float\"}]},\n\"topic\":\"myMultiSensor02/DDATA\"}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 950,
        "y": 880,
        "wires": [
            [
                "e73c59cb.404988",
                "9fafc8a4.923c08"
            ]
        ]
    },
    {
        "id": "57d8d78.cbbd728",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "Value from sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1338",
        "payloadType": "num",
        "x": 630,
        "y": 880,
        "wires": [
            [
                "7d2171b.3e6e19"
            ]
        ]
    },
    {
        "id": "e73c59cb.404988",
        "type": "debug",
        "z": "67ff7c1a.40a404",
        "name": "metric 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 880,
        "wires": []
    },
    {
        "id": "aa2e5891.35cc08",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "Value from sensor (output feedback)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 580,
        "y": 940,
        "wires": [
            [
                "d6a62d37.916f6"
            ]
        ]
    },
    {
        "id": "d6a62d37.916f6",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "Metric value for output",
        "func": "var msg={\"payload\":\n{\"timestamp\": Date.now(),\n\"metrics\":[{\n    \"name\":\"Output01\",\n    \"value\":msg.payload,\n    \"type\":\"boolean\"}]},\n\"topic\":\"myMultiSensor02/DDATA\"}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 940,
        "wires": [
            [
                "9fafc8a4.923c08"
            ]
        ]
    },
    {
        "id": "7e8c8c04.8b0314",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "Output (from ignition)",
        "func": "if (msg.topic==\"myMultiSensor02\"){\n    if (msg.payload.metrics[0].name==\"Output01\"){\n        newMsg={};\n        newMsg.payload=msg.payload.metrics[0].value;\n        return newMsg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1800,
        "y": 660,
        "wires": [
            [
                "4d2fe7ca.bcf5f8"
            ]
        ]
    },
    {
        "id": "4d2fe7ca.bcf5f8",
        "type": "debug",
        "z": "67ff7c1a.40a404",
        "name": "value to sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2040,
        "y": 660,
        "wires": []
    },
    {
        "id": "233c2e41.6edff2",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "trigger rebirth",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1337",
        "payloadType": "num",
        "x": 630,
        "y": 660,
        "wires": [
            [
                "90061fa9.fab9"
            ]
        ]
    },
    {
        "id": "8baf8d54.c730d",
        "type": "function",
        "z": "67ff7c1a.40a404",
        "name": "DDEATH",
        "func": "let EquipmentName = \"myMultiSensor02\"\n\nreturn { \"topic\" : EquipmentName+\"/DDEATH\",'payload': {\"timestamp\" : Date.now()} };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 620,
        "wires": [
            [
                "9fafc8a4.923c08"
            ]
        ]
    },
    {
        "id": "2972a704.992e48",
        "type": "inject",
        "z": "67ff7c1a.40a404",
        "name": "trigger Death",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1337",
        "payloadType": "num",
        "x": 630,
        "y": 600,
        "wires": [
            [
                "8baf8d54.c730d"
            ]
        ]
    },
    {
        "id": "e31740a6.3a29e",
        "type": "link in",
        "z": "67ff7c1a.40a404",
        "name": "",
        "links": [
            "1f7d5357.830b6d",
            "4d1cdf3e.850b4"
        ],
        "x": 775,
        "y": 760,
        "wires": [
            [
                "90061fa9.fab9"
            ]
        ]
    },
    {
        "id": "8a06951f.dc4278",
        "type": "link in",
        "z": "67ff7c1a.40a404",
        "name": "",
        "links": [
            "9fafc8a4.923c08",
            "afc60000.92d74"
        ],
        "x": 1305,
        "y": 500,
        "wires": [
            [
                "836db305.a26ba"
            ]
        ]
    },
    {
        "id": "9fafc8a4.923c08",
        "type": "link out",
        "z": "67ff7c1a.40a404",
        "name": "",
        "links": [
            "8a06951f.dc4278"
        ],
        "x": 1195,
        "y": 780,
        "wires": []
    },
    {
        "id": "afc60000.92d74",
        "type": "link out",
        "z": "67ff7c1a.40a404",
        "name": "",
        "links": [
            "8a06951f.dc4278"
        ],
        "x": 1215,
        "y": 280,
        "wires": []
    },
    {
        "id": "1e2b02714e14b07f",
        "type": "mqtt in",
        "z": "67ff7c1a.40a404",
        "name": "",
        "topic": "spBv1.0/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 1180,
        "wires": [
            [
                "2cc5915a1af758a5"
            ]
        ]
    },
    {
        "id": "2cc5915a1af758a5",
        "type": "decode",
        "z": "67ff7c1a.40a404",
        "name": "",
        "protofile": "6780b84f.200d88",
        "protoType": "Payload",
        "x": 1080,
        "y": 1180,
        "wires": [
            [
                "a971026f94f92d59"
            ]
        ]
    },
    {
        "id": "a971026f94f92d59",
        "type": "debug",
        "z": "67ff7c1a.40a404",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f0eec4d1b2d529f6",
        "type": "mqtt in",
        "z": "b4ed1374180726ac",
        "name": "",
        "topic": "shellies/jamesscott/em/housegarage/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 80,
        "wires": [
            [
                "a55a99b0effe2e91"
            ]
        ]
    },
    {
        "id": "a55a99b0effe2e91",
        "type": "function",
        "z": "b4ed1374180726ac",
        "name": "function 1",
        "func": "if (msg.topic.split(\"/\")[4] !== undefined) {\n    msg.key = msg.topic.split(\"/\")[5] + \"_\" + msg.topic.split(\"/\")[6]\n    msg.payload = Number(msg.payload)\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "9c70506cb9e56dad"
            ]
        ]
    },
    {
        "id": "9c70506cb9e56dad",
        "type": "join",
        "z": "b4ed1374180726ac",
        "name": "Join messages",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "key",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "14",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 600,
        "y": 80,
        "wires": [
            [
                "a6a3cd7256dfc7be"
            ]
        ]
    },
    {
        "id": "8bec654da00798ca",
        "type": "mqtt in",
        "z": "b4ed1374180726ac",
        "name": "",
        "topic": "shellies/jamesscott/em/heatingcoolingflat/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "a80a0c582e199e03"
            ]
        ]
    },
    {
        "id": "a80a0c582e199e03",
        "type": "function",
        "z": "b4ed1374180726ac",
        "name": "function 2",
        "func": "if (msg.topic.split(\"/\")[4] !== undefined) {\n    msg.key = msg.topic.split(\"/\")[5] + \"_\" + msg.topic.split(\"/\")[6]\n    msg.payload = Number(msg.payload)\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "efd73cd518864862"
            ]
        ]
    },
    {
        "id": "efd73cd518864862",
        "type": "join",
        "z": "b4ed1374180726ac",
        "name": "Join messages",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "key",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "14",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 640,
        "y": 140,
        "wires": [
            [
                "bc8821fcaaefe91a"
            ]
        ]
    },
    {
        "id": "a6a3cd7256dfc7be",
        "type": "mqtt out",
        "z": "b4ed1374180726ac",
        "name": "",
        "topic": "jamesscott/housegarage",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "bc8821fcaaefe91a",
        "type": "mqtt out",
        "z": "b4ed1374180726ac",
        "name": "",
        "topic": "jamesscott/heatingcoolingflat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "314b2da46f68902e",
        "type": "mqtt in",
        "z": "b4ed1374180726ac",
        "name": "",
        "topic": "zigbee2mqtt/washingmachine",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 420,
        "wires": [
            [
                "911d9fb9948a3869"
            ]
        ]
    },
    {
        "id": "911d9fb9948a3869",
        "type": "debug",
        "z": "b4ed1374180726ac",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "bbee030d358c3764",
        "type": "mqtt in",
        "z": "b4ed1374180726ac",
        "name": "",
        "topic": "zigbee2mqtt/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "0dcad9b5665a0983"
            ]
        ]
    },
    {
        "id": "0dcad9b5665a0983",
        "type": "debug",
        "z": "b4ed1374180726ac",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 485.3999938964844,
        "y": 354.3999938964844,
        "wires": []
    },
    {
        "id": "2a3019b839d613b3",
        "type": "mqtt in",
        "z": "20ba8d3784eec1de",
        "name": "",
        "topic": "zigbee2mqtt/dishwasher",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "93d1a06a03e066d0",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.power",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "47a6338e141d2c9d"
            ]
        ]
    },
    {
        "id": "7b0d18be4b966555",
        "type": "inject",
        "z": "20ba8d3784eec1de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "106",
        "payloadType": "num",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "47a6338e141d2c9d"
            ]
        ]
    },
    {
        "id": "244a9b05d7996d84",
        "type": "comment",
        "z": "20ba8d3784eec1de",
        "name": "running",
        "info": "",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "1bcc202c14b8e92f",
        "type": "comment",
        "z": "20ba8d3784eec1de",
        "name": "running",
        "info": "",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "7cf4ef33142d7e3a",
        "type": "inject",
        "z": "20ba8d3784eec1de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "47a6338e141d2c9d"
            ]
        ]
    },
    {
        "id": "dfb4887ced14ea61",
        "type": "inject",
        "z": "20ba8d3784eec1de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1500",
        "payloadType": "num",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "47a6338e141d2c9d"
            ]
        ]
    },
    {
        "id": "34730718f376db66",
        "type": "inject",
        "z": "20ba8d3784eec1de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "11",
        "payloadType": "num",
        "x": 450,
        "y": 20,
        "wires": [
            [
                "47a6338e141d2c9d"
            ]
        ]
    },
    {
        "id": "f41ccd8eca9d7ee1",
        "type": "inject",
        "z": "20ba8d3784eec1de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "47a6338e141d2c9d"
            ]
        ]
    },
    {
        "id": "1b5bb212236f2748",
        "type": "switch",
        "z": "20ba8d3784eec1de",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "2d1a5c7a19b7df52"
            ],
            []
        ]
    },
    {
        "id": "ba10087c31edf82f",
        "type": "comment",
        "z": "20ba8d3784eec1de",
        "name": "Second Cycle",
        "info": "",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "2d1a5c7a19b7df52",
        "type": "trigger",
        "z": "20ba8d3784eec1de",
        "name": "",
        "op1": "",
        "op2": "Allow",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 640,
        "wires": [
            [
                "a510550e6891ffcf"
            ]
        ]
    },
    {
        "id": "2437f25175ab86e3",
        "type": "debug",
        "z": "20ba8d3784eec1de",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 540,
        "wires": []
    },
    {
        "id": "a510550e6891ffcf",
        "type": "traffic",
        "z": "20ba8d3784eec1de",
        "name": "",
        "property_allow": "payload",
        "filter_allow": "Allow",
        "ignore_case_allow": false,
        "negate_allow": false,
        "send_allow": false,
        "property_stop": "payload",
        "filter_stop": "Done",
        "ignore_case_stop": false,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "b5779dcba40b7de9"
            ]
        ]
    },
    {
        "id": "b5779dcba40b7de9",
        "type": "switch",
        "z": "20ba8d3784eec1de",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "1200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 740,
        "wires": [
            [
                "6c9a31c2a05a3474"
            ],
            []
        ]
    },
    {
        "id": "712b83339ffda139",
        "type": "traffic",
        "z": "20ba8d3784eec1de",
        "name": "",
        "property_allow": "payload",
        "filter_allow": "Allow",
        "ignore_case_allow": false,
        "negate_allow": false,
        "send_allow": false,
        "property_stop": "payload",
        "filter_stop": "Done",
        "ignore_case_stop": false,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 550,
        "y": 860,
        "wires": [
            [
                "6d476bab6e5ec557"
            ]
        ]
    },
    {
        "id": "6c9a31c2a05a3474",
        "type": "trigger",
        "z": "20ba8d3784eec1de",
        "name": "",
        "op1": "",
        "op2": "Allow",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 540,
        "y": 800,
        "wires": [
            [
                "712b83339ffda139"
            ]
        ]
    },
    {
        "id": "22af1973a64f4b84",
        "type": "traffic",
        "z": "20ba8d3784eec1de",
        "name": "",
        "property_allow": "payload",
        "filter_allow": "Allow",
        "ignore_case_allow": false,
        "negate_allow": false,
        "send_allow": false,
        "property_stop": "payload",
        "filter_stop": "Done",
        "ignore_case_stop": false,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 570,
        "y": 500,
        "wires": [
            [
                "1b5bb212236f2748"
            ]
        ]
    },
    {
        "id": "f78608b50f2c2efe",
        "type": "trigger",
        "z": "20ba8d3784eec1de",
        "name": "",
        "op1": "",
        "op2": "Allow",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 420,
        "wires": [
            [
                "22af1973a64f4b84"
            ]
        ]
    },
    {
        "id": "47a6338e141d2c9d",
        "type": "switch",
        "z": "20ba8d3784eec1de",
        "name": "Started 10W",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "15072cb25f6271e5"
            ],
            [
                "f064a4fdac21f6af",
                "22af1973a64f4b84",
                "a510550e6891ffcf",
                "712b83339ffda139",
                "8b9d51cd9cc18c40",
                "1860305a4297c5cd"
            ]
        ]
    },
    {
        "id": "f064a4fdac21f6af",
        "type": "switch",
        "z": "20ba8d3784eec1de",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "1200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "f78608b50f2c2efe",
                "8b9d51cd9cc18c40"
            ],
            []
        ]
    },
    {
        "id": "15072cb25f6271e5",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 320,
        "wires": [
            [
                "3888a81a5ae13663"
            ]
        ]
    },
    {
        "id": "8b9d51cd9cc18c40",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 380,
        "wires": [
            [
                "3888a81a5ae13663"
            ]
        ]
    },
    {
        "id": "0fe96c536891d4ac",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Done",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1040,
        "wires": [
            [
                "3888a81a5ae13663",
                "807c23789830641e"
            ]
        ]
    },
    {
        "id": "3888a81a5ae13663",
        "type": "rbe",
        "z": "20ba8d3784eec1de",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1090,
        "y": 280,
        "wires": [
            [
                "8451ac56cd9bf2c0"
            ]
        ]
    },
    {
        "id": "78320bd31480994a",
        "type": "link out",
        "z": "20ba8d3784eec1de",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "6d101786bce5d2a1"
        ],
        "x": 1145,
        "y": 780,
        "wires": []
    },
    {
        "id": "6d101786bce5d2a1",
        "type": "link in",
        "z": "20ba8d3784eec1de",
        "name": "link in 3",
        "links": [
            "78320bd31480994a"
        ],
        "x": 235,
        "y": 640,
        "wires": [
            [
                "22af1973a64f4b84",
                "a510550e6891ffcf",
                "712b83339ffda139",
                "1860305a4297c5cd"
            ]
        ]
    },
    {
        "id": "6d476bab6e5ec557",
        "type": "switch",
        "z": "20ba8d3784eec1de",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 940,
        "wires": [
            [
                "afd365d310b0749e"
            ],
            []
        ]
    },
    {
        "id": "afd365d310b0749e",
        "type": "trigger",
        "z": "20ba8d3784eec1de",
        "name": "",
        "op1": "",
        "op2": "Allow",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 1000,
        "wires": [
            [
                "1860305a4297c5cd"
            ]
        ]
    },
    {
        "id": "1860305a4297c5cd",
        "type": "traffic",
        "z": "20ba8d3784eec1de",
        "name": "",
        "property_allow": "payload",
        "filter_allow": "Allow",
        "ignore_case_allow": false,
        "negate_allow": false,
        "send_allow": false,
        "property_stop": "payload",
        "filter_stop": "Done",
        "ignore_case_stop": false,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 570,
        "y": 1060,
        "wires": [
            [
                "0fe96c536891d4ac"
            ]
        ]
    },
    {
        "id": "807c23789830641e",
        "type": "trigger",
        "z": "20ba8d3784eec1de",
        "name": "",
        "op1": "",
        "op2": "Done",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 1060,
        "wires": [
            [
                "78320bd31480994a",
                "3d8e5007d2cd42e5"
            ]
        ]
    },
    {
        "id": "bdb9a33f5be47ac2",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "Change Key Dynamically",
        "rules": [
            {
                "t": "set",
                "p": "tag",
                "pt": "msg",
                "to": "{topic:payload}",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "lastValue",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1306.4000244140625,
        "y": 648.4000244140625,
        "wires": [
            [
                "550f9558169f5dd8"
            ]
        ]
    },
    {
        "id": "550f9558169f5dd8",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "Format",
        "rules": [
            {
                "t": "move",
                "p": "tag",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "field.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1496.4000244140625,
        "y": 648.4000244140625,
        "wires": [
            [
                "2437f25175ab86e3"
            ]
        ]
    },
    {
        "id": "8451ac56cd9bf2c0",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "jamesscott/dishwasher/status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 580,
        "wires": [
            [
                "bdb9a33f5be47ac2",
                "9cc18c3d8c88e8c6"
            ]
        ]
    },
    {
        "id": "3d8e5007d2cd42e5",
        "type": "trigger",
        "z": "20ba8d3784eec1de",
        "name": "",
        "op1": "",
        "op2": "Done",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1110,
        "y": 1140,
        "wires": [
            [
                "15072cb25f6271e5"
            ]
        ]
    },
    {
        "id": "e8cdfd66daff4b3c",
        "type": "mqtt in",
        "z": "20ba8d3784eec1de",
        "name": "",
        "topic": "zigbee2mqtt/dishwasher",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1460,
        "wires": [
            [
                "c85e154167789c7c"
            ]
        ]
    },
    {
        "id": "c85e154167789c7c",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.power",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1360,
        "wires": [
            [
                "3e37e51b89b5359e"
            ]
        ]
    },
    {
        "id": "3e37e51b89b5359e",
        "type": "switch",
        "z": "20ba8d3784eec1de",
        "name": "Started 10W",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 1360,
        "wires": [
            [
                "4c20d9f482d1c48a"
            ],
            [
                "8e22b402b49e358b",
                "7bc656a23313479d"
            ]
        ]
    },
    {
        "id": "63777665d529cc4d",
        "type": "debug",
        "z": "20ba8d3784eec1de",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 1340,
        "wires": []
    },
    {
        "id": "8e22b402b49e358b",
        "type": "trigger",
        "z": "20ba8d3784eec1de",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 670,
        "y": 1440,
        "wires": [
            [
                "57f5d5499840cd71"
            ]
        ]
    },
    {
        "id": "4c20d9f482d1c48a",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1300,
        "wires": [
            [
                "7db429907bff5853"
            ]
        ]
    },
    {
        "id": "57f5d5499840cd71",
        "type": "switch",
        "z": "20ba8d3784eec1de",
        "name": "Started 10W",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 1520,
        "wires": [
            [
                "2e98ad39d602d2d9"
            ],
            [
                "8e22b402b49e358b"
            ]
        ]
    },
    {
        "id": "2e98ad39d602d2d9",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Done",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1480,
        "wires": [
            [
                "7db429907bff5853"
            ]
        ]
    },
    {
        "id": "7bc656a23313479d",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1360,
        "wires": [
            [
                "7db429907bff5853"
            ]
        ]
    },
    {
        "id": "7db429907bff5853",
        "type": "rbe",
        "z": "20ba8d3784eec1de",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1070,
        "y": 1360,
        "wires": [
            [
                "63777665d529cc4d",
                "994d9ec423ec84b2"
            ]
        ]
    },
    {
        "id": "994d9ec423ec84b2",
        "type": "change",
        "z": "20ba8d3784eec1de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "jamesscott/dishwasher/status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 1260,
        "wires": [
            [
                "cc59bde14dac8295"
            ]
        ]
    },
    {
        "id": "cc59bde14dac8295",
        "type": "mqtt out",
        "z": "20ba8d3784eec1de",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1570,
        "y": 1120,
        "wires": []
    },
    {
        "id": "a2177ae1c140d080",
        "type": "inject",
        "z": "20ba8d3784eec1de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 290,
        "y": 1560,
        "wires": [
            [
                "3e37e51b89b5359e"
            ]
        ]
    },
    {
        "id": "9cc18c3d8c88e8c6",
        "type": "debug",
        "z": "20ba8d3784eec1de",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 500,
        "wires": []
    },
    {
        "id": "b0a7cfb6f71cba6b",
        "type": "mqtt in",
        "z": "211043a199735b64",
        "name": "",
        "topic": "zigbee2mqtt/washingmachine",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "344341727bbdaf64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "2218363e64e7e017",
                "950e25658e66b1e4"
            ]
        ]
    },
    {
        "id": "2218363e64e7e017",
        "type": "change",
        "z": "211043a199735b64",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.power",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "297b26f0413d695d",
                "1994f422cf866afc"
            ]
        ]
    },
    {
        "id": "297b26f0413d695d",
        "type": "switch",
        "z": "211043a199735b64",
        "name": "Started 10W",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "bdaab54250fb432b"
            ],
            [
                "4799d37210de01f5",
                "5d476a5b30bca4c9"
            ]
        ]
    },
    {
        "id": "1895ea45478981e1",
        "type": "debug",
        "z": "211043a199735b64",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 340,
        "wires": []
    },
    {
        "id": "4799d37210de01f5",
        "type": "trigger",
        "z": "211043a199735b64",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "8bf2a307dd51a8ec"
            ]
        ]
    },
    {
        "id": "bdaab54250fb432b",
        "type": "change",
        "z": "211043a199735b64",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 180,
        "wires": [
            [
                "52b79e8f5e35b918"
            ]
        ]
    },
    {
        "id": "8bf2a307dd51a8ec",
        "type": "switch",
        "z": "211043a199735b64",
        "name": "Started 10W",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 480,
        "wires": [
            [
                "0d2ff3d01d053f2d"
            ],
            [
                "4799d37210de01f5"
            ]
        ]
    },
    {
        "id": "0d2ff3d01d053f2d",
        "type": "change",
        "z": "211043a199735b64",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Done",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 420,
        "wires": [
            [
                "52b79e8f5e35b918"
            ]
        ]
    },
    {
        "id": "5d476a5b30bca4c9",
        "type": "change",
        "z": "211043a199735b64",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 240,
        "wires": [
            [
                "52b79e8f5e35b918"
            ]
        ]
    },
    {
        "id": "52b79e8f5e35b918",
        "type": "rbe",
        "z": "211043a199735b64",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "195b39e395d2c9d5"
            ]
        ]
    },
    {
        "id": "195b39e395d2c9d5",
        "type": "change",
        "z": "211043a199735b64",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "jamesscott/washingmachine/status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1277.4000244140625,
        "y": 333.3999938964844,
        "wires": [
            [
                "99601d451ad0d948",
                "1895ea45478981e1"
            ]
        ]
    },
    {
        "id": "99601d451ad0d948",
        "type": "mqtt out",
        "z": "211043a199735b64",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "344341727bbdaf64",
        "x": 1557.4000244140625,
        "y": 193.39999389648438,
        "wires": []
    },
    {
        "id": "cb24f5c83f49f2c7",
        "type": "inject",
        "z": "211043a199735b64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "297b26f0413d695d"
            ]
        ]
    },
    {
        "id": "950e25658e66b1e4",
        "type": "debug",
        "z": "211043a199735b64",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "1994f422cf866afc",
        "type": "debug",
        "z": "211043a199735b64",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "921f53e558dc68fd",
        "type": "switch",
        "z": "211043a199735b64",
        "name": "Started 10W",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 820,
        "wires": [
            [
                "c524b052cc73d8bb"
            ],
            [
                "ccd35440f5787724",
                "dffb683753aaee54"
            ]
        ]
    },
    {
        "id": "ccd35440f5787724",
        "type": "trigger",
        "z": "211043a199735b64",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "Off",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1310,
        "y": 920,
        "wires": [
            [
                "587864f50579d834"
            ]
        ]
    },
    {
        "id": "c524b052cc73d8bb",
        "type": "change",
        "z": "211043a199735b64",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 760,
        "wires": [
            [
                "8e5d214a2c442da3",
                "ccd35440f5787724"
            ]
        ]
    },
    {
        "id": "587864f50579d834",
        "type": "switch",
        "z": "211043a199735b64",
        "name": "Started 10W",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1290,
        "y": 1020,
        "wires": [
            [
                "16fd79769fba43ef"
            ],
            [
                "ccd35440f5787724"
            ]
        ]
    },
    {
        "id": "16fd79769fba43ef",
        "type": "change",
        "z": "211043a199735b64",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Done",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 1000,
        "wires": [
            [
                "8e5d214a2c442da3"
            ]
        ]
    },
    {
        "id": "dffb683753aaee54",
        "type": "change",
        "z": "211043a199735b64",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 820,
        "wires": [
            [
                "8e5d214a2c442da3"
            ]
        ]
    },
    {
        "id": "8e5d214a2c442da3",
        "type": "rbe",
        "z": "211043a199735b64",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1630,
        "y": 820,
        "wires": [
            [
                "3a4dc26c4dec558c"
            ]
        ]
    },
    {
        "id": "4cc578d2348acf8f",
        "type": "inject",
        "z": "211043a199735b64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "921f53e558dc68fd"
            ]
        ]
    },
    {
        "id": "c2988059db4bf968",
        "type": "inject",
        "z": "211043a199735b64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 610,
        "y": 840,
        "wires": [
            [
                "921f53e558dc68fd"
            ]
        ]
    },
    {
        "id": "3a4dc26c4dec558c",
        "type": "debug",
        "z": "211043a199735b64",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1980,
        "y": 800,
        "wires": []
    },
    {
        "id": "1e29a882d71e49fc",
        "type": "inject",
        "z": "211043a199735b64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 590,
        "y": 700,
        "wires": [
            [
                "921f53e558dc68fd"
            ]
        ]
    },
    {
        "id": "14662c76.0b5b14",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Calculate tank 1 Level",
        "func": "msg.payload = ((19-msg.payload)/13)*100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 700,
        "wires": [
            [
                "52a5cf46.dee4f"
            ]
        ]
    },
    {
        "id": "54a8f38a.ad6d3c",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Calculate Tank 2 Level",
        "func": "msg.payload = ((19-msg.payload)/13)*100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 760,
        "wires": [
            [
                "e8c4a977.0c10a8"
            ]
        ]
    },
    {
        "id": "fdb51d14.900dd",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Temperature Data",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 840,
        "wires": [
            [
                "e252491.45c21b8"
            ]
        ]
    },
    {
        "id": "2113d814.a56258",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Humidity Data",
        "func": "msg.payload = msg.humidity;\nmsg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 900,
        "wires": [
            [
                "bec2cf90.64b39"
            ]
        ]
    },
    {
        "id": "48351d29.df37c4",
        "type": "inject",
        "z": "5a3f9bd2c5442e36",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 880,
        "wires": [
            [
                "bfc7f48f62cad421",
                "440a0d59b98f6bef",
                "bad955538bd856be",
                "72d4a55079ba218f"
            ]
        ]
    },
    {
        "id": "39ea0a04.9f1dd6",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Temperature Data",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 960,
        "wires": [
            [
                "91557ab1.b50808"
            ]
        ]
    },
    {
        "id": "350e9255.1eaeee",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Humidity Data",
        "func": "msg.payload = msg.humidity;\nmsg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 1020,
        "wires": [
            [
                "5b73ffc4.8a225"
            ]
        ]
    },
    {
        "id": "b7bc9b76.f84e18",
        "type": "inject",
        "z": "5a3f9bd2c5442e36",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 980,
        "wires": [
            [
                "2763909c5527c9e0",
                "1118633a1aca1427"
            ]
        ]
    },
    {
        "id": "b100f904.85e908",
        "type": "opcua-compact-server",
        "z": "5a3f9bd2c5442e36",
        "port": 54845,
        "endpoint": "",
        "productUri": "",
        "acceptExternalCommands": true,
        "maxAllowedSessionNumber": "10",
        "maxConnectionsPerEndpoint": "10",
        "maxAllowedSubscriptionNumber": "100",
        "alternateHostname": "",
        "name": "",
        "showStatusActivities": false,
        "showErrors": true,
        "allowAnonymous": true,
        "individualCerts": false,
        "isAuditing": false,
        "serverDiscovery": true,
        "users": [],
        "xmlsetsOPCUA": [],
        "publicCertificateFile": "",
        "privateCertificateFile": "",
        "registerServerMethod": "1",
        "discoveryServerEndpointUrl": "opc.tcp://192.168.1.126:54845",
        "capabilitiesForMDNS": "",
        "maxNodesPerRead": 1000,
        "maxNodesPerWrite": 1000,
        "maxNodesPerHistoryReadData": 100,
        "maxNodesPerBrowse": 3000,
        "maxBrowseContinuationPoints": "10",
        "maxHistoryContinuationPoints": "10",
        "delayToInit": "1000",
        "delayToClose": "200",
        "serverShutdownTimeout": "100",
        "addressSpaceScript": "function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n  // server = the created node-opcua server\n  // addressSpace = address space of the node-opcua server\n  // eventObjects = add event variables here to hold them in memory from this script\n\n  // internal sandbox objects are:\n  // node = the compact server node,\n  // coreServer = core compact server object for debug and access to NodeOPCUA\n  // this.sandboxNodeContext = node context node-red\n  // this.sandboxFlowContext = flow context node-red\n  // this.sandboxGlobalContext = global context node-red\n  // this.sandboxEnv = env variables\n  // timeout and interval functions as expected from nodejs\n\n  const opcua = coreServer.choreCompact.opcua;\n  const LocalizedText = opcua.LocalizedText;\n  const namespace = addressSpace.getOwnNamespace();\n\n  const Variant = opcua.Variant;\n  const DataType = opcua.DataType;\n  const DataValue = opcua.DataValue;\n\n  var flexServerInternals = this;\n\n  this.sandboxFlowContext.set(\"tank1Level\", 0);\n  this.sandboxFlowContext.set(\"tank2Level\", 0);\n  this.sandboxFlowContext.set(\"tank1Temperature\", 0);\n  this.sandboxFlowContext.set(\"tank1Humidity\", 0);\n  this.sandboxFlowContext.set(\"tank2Temperature\", 0);\n  this.sandboxFlowContext.set(\"tank2Humidity\", 0);\n\n\n  coreServer.debugLog(\"init dynamic address space\");\n  const rootFolder = addressSpace.findNode(\"RootFolder\");\n\n  node.warn(\"construct new address space for OPC UA\");\n\n  const tank1Folder = namespace.addFolder(rootFolder.objects, { \"browseName\": \"Tank 1\" });\n  const tank2Folder = namespace.addFolder(rootFolder.objects, {\"browseName\": \"Tank 2\"});\n  \n  const tank1Unit1Components = namespace.addFolder(tank1Folder, { \"browseName\": \"Tank 1 - Unit 1\" });\n  const tank1Unit2Components = namespace.addFolder(tank1Folder, {\"browseName\": \"Tank 1 - Unit 2\"});\n  \n  const tank2Unit1Components = namespace.addFolder(tank2Folder, { \"browseName\": \"Tank 2 - Unit 1\" });\n  const tank2Unit2Components = namespace.addFolder(tank2Folder, {\"browseName\": \"Tank 2 - Unit 2\"});\n\n\n  const tank1Level = namespace.addVariable({\n    \"organizedBy\": tank1Unit1Components,\n    \"browseName\": \"Tank Level\",\n    \"nodeId\": \"ns=1;s=Tank1_Level\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"tank1Level\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"tank1Level\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n    const tank1Temperature = namespace.addVariable({\n    \"organizedBy\": tank1Unit2Components,\n    \"browseName\": \"Tank Temperature\",\n    \"nodeId\": \"ns=1;s=Tank1_Temperature\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"tank1Temperature\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"tank1Temperature\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n    const tank1Humidity = namespace.addVariable({\n    \"organizedBy\": tank1Unit2Components,\n    \"browseName\": \"Tank Humidity\",\n    \"nodeId\": \"ns=1;s=Tank1_Humidity\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"tank1Humidity\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"tank1Humidity\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n    const tank2Level = namespace.addVariable({\n    \"organizedBy\": tank2Unit1Components,\n    \"browseName\": \"Tank Level\",\n    \"nodeId\": \"ns=1;s=Tank2_Level\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"tank2Level\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"tank2Level\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n    const tank2Temperature = namespace.addVariable({\n    \"organizedBy\": tank2Unit2Components,\n    \"browseName\": \"Tank Temperature\",\n    \"nodeId\": \"ns=1;s=Tank2_Temperature\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"tank2Temperature\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"tank2Temperature\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n    const tank2Humidity = namespace.addVariable({\n    \"organizedBy\": tank2Unit2Components,\n    \"browseName\": \"Tank Humidity\",\n    \"nodeId\": \"ns=1;s=Tank2_Humidity\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"tank2Humidity\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"tank2Humidity\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  coreServer.debugLog(\"create dynamic address space done\");\n  node.warn(\"construction of new address space for OPC UA done\");\n\n  done();\n}\n",
        "x": 1410,
        "y": 1140,
        "wires": []
    },
    {
        "id": "4fff583b.83cd18",
        "type": "debug",
        "z": "5a3f9bd2c5442e36",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1180,
        "y": 1140,
        "wires": []
    },
    {
        "id": "881d65c1.438ef8",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "set flow context Inputs",
        "func": "// flow.set('isoInput1', Math.random() + 11.0) interval comes from server\n//flow.set('isoInput2', Math.random() + 12.0) value comes from other flow/RIO analog input\nflow.set('tank1Level', global.get('tank1Level'))\nflow.set('tank2Level', global.get('tank2Level'))\nflow.set('tank1Temperature', global.get('tank1Temperature'))\nflow.set('tank1Humidity', global.get('tank1Humidity'))\nflow.set('tank2Temperature', global.get('tank2Temperature'))\nflow.set('tank2Humidity', global.get('tank2Humidity'))\n\nmsg.payload = [\n    flow.get('tank1Level'),\n    flow.get('tank2Level'),\n    flow.get('tank1Temperature'),\n    flow.get('tank1Humidity'),\n    flow.get('tank2Temperature'),\n    flow.get('tank2Humidity'),\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1140,
        "wires": [
            [
                "4fff583b.83cd18"
            ]
        ]
    },
    {
        "id": "ad2988d5.ea8468",
        "type": "inject",
        "z": "5a3f9bd2c5442e36",
        "name": "5 seconds",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 1140,
        "wires": [
            [
                "881d65c1.438ef8"
            ]
        ]
    },
    {
        "id": "52a5cf46.dee4f",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Set Global Leverage",
        "func": "global.set(\"tank1Level\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "e8c4a977.0c10a8",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Set Global Leverage",
        "func": "global.set(\"tank2Level\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e252491.45c21b8",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Set Global Leverage",
        "func": "global.set(\"tank1Temperature\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "bec2cf90.64b39",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Set Global Leverage",
        "func": "global.set(\"tank1Humidity\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "91557ab1.b50808",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Set Global Leverage",
        "func": "global.set(\"tank2Temperature\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "5b73ffc4.8a225",
        "type": "function",
        "z": "5a3f9bd2c5442e36",
        "name": "Set Global Leverage",
        "func": "global.set(\"tank2Humidity\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "bfc7f48f62cad421",
        "type": "Number",
        "z": "5a3f9bd2c5442e36",
        "name": "Random Number",
        "minimum": "0",
        "maximum": "69699",
        "roundTo": "2",
        "Floor": true,
        "x": 870,
        "y": 840,
        "wires": [
            [
                "fdb51d14.900dd"
            ]
        ]
    },
    {
        "id": "440a0d59b98f6bef",
        "type": "Number",
        "z": "5a3f9bd2c5442e36",
        "name": "Random Number",
        "minimum": "0",
        "maximum": "100",
        "roundTo": "0",
        "Floor": false,
        "x": 870,
        "y": 900,
        "wires": [
            [
                "2113d814.a56258"
            ]
        ]
    },
    {
        "id": "bad955538bd856be",
        "type": "Number",
        "z": "5a3f9bd2c5442e36",
        "name": "Random Number",
        "minimum": "0",
        "maximum": "99999",
        "roundTo": "3",
        "Floor": false,
        "x": 790,
        "y": 680,
        "wires": [
            [
                "14662c76.0b5b14"
            ]
        ]
    },
    {
        "id": "72d4a55079ba218f",
        "type": "Number",
        "z": "5a3f9bd2c5442e36",
        "name": "Random Number",
        "minimum": "0",
        "maximum": "99999",
        "roundTo": "3",
        "Floor": false,
        "x": 790,
        "y": 720,
        "wires": [
            [
                "54a8f38a.ad6d3c"
            ]
        ]
    },
    {
        "id": "2763909c5527c9e0",
        "type": "Number",
        "z": "5a3f9bd2c5442e36",
        "name": "Random Number",
        "minimum": "0",
        "maximum": "69699",
        "roundTo": "2",
        "Floor": true,
        "x": 850,
        "y": 960,
        "wires": [
            [
                "39ea0a04.9f1dd6"
            ]
        ]
    },
    {
        "id": "1118633a1aca1427",
        "type": "Number",
        "z": "5a3f9bd2c5442e36",
        "name": "Random Number",
        "minimum": "0",
        "maximum": "100",
        "roundTo": "0",
        "Floor": false,
        "x": 850,
        "y": 1020,
        "wires": [
            [
                "350e9255.1eaeee"
            ]
        ]
    }
]